* {
  padding: 0;
  margin: 0;
  border: 0;
}
body {
  background-color: #f1f1f1;
}
h1 {
  font-size: 40px;
}
h1,
h2,
a,
p,
input,
button {
  font-family: "Roboto Mono", monospace;
}
/* mainWrapper styling */
.mainWrapper {
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
/* LOGO og titel */
.imgAndTitel {
  position: relative;
  top: 10px;
  text-align: center;
  margin: 0 auto;
}
.imgAndTitel h1 {
  position: relative;
  top: -50px;
  color: #515f6d;
  font-weight: bold;
  letter-spacing: 7px;
  font-size: 30px;
}
.imgAndTitel img {
  width: 450px;
}
/* Input styling */
.inputs {
  width: 500px;
  text-align: center;
  margin: 0 auto;
}
.inputs input {
  border: 0;
  font-size: 18;
  margin-top: 25px;
  width: 100%;
  height: 50px;
  padding-left: 15px;
  padding-bottom: 13px;
  padding-top: 13px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}
/* Checkbox styling  */
.checkBox {
  margin: 0 auto;
  margin-top: 23px;
  display: flex;
  align-items: center;
}
.checkBox input {
  border: 0;
  background-color: #ffffff;
  width: 20px;
  height: 20px;
  margin-right: 14px;
  cursor: pointer;
}
.checkBox p {
  font-size: 16px;
  color: #515f6d;
}
/* Glemt adgangskode  */
.forgotPassword {
  margin: 0 auto;
  margin-top: 4px;
}
.forgotPassword a {
  color: #515f6d;
  font-size: 16px;
}
/* Login buttons  */
.loginButtons {
  margin: 0 auto;
  margin-top: 18px;
  display: flex;
}
.standardBtn {
  width: 190px;
  height: 50px;
  border: 1px solid #707070;
  background-color: #515f6d;
  color: white;
  font-size: 20px;
  padding: 12px 61px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
  cursor: pointer;
}
/* Country selection  */
.countrySelection {
  margin: 0 auto;
  margin-top: 49px;
  text-align: center;
}
.countrySelection a {
  margin-right: 20px;
}
.countrySelection .countryImg {
  width: 36px;
  height: 21px;
}
/* Redirect page styling  */

.redirectWrapper {
  background-color: #f8f8f8;
  width: 100vw;
  height: 100vh;
}
