* {
  padding: 0;
  margin: 0;
}
h1,
h2,
a,
p,
input,
button,
h3 {
  font-family: "Roboto Mono", monospace;
}
p,
span {
  font-family: "Abel", sans-serif;
}
/* Main */
.contentWrapper {
  width: 100%;
  height: 100%;
  background-color: #515f6d;
}
/* MAIN NAV */
.mainNav {
  margin: 0 auto;
  width: 80%;
  height: 140px;
}
.mainNav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}
.mainNav ul li {
  list-style: none;
  margin-top: 10px;
}
.mainNav ul li a {
  position: relative;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.mainNav ul #logo {
  margin-top: 10px;
  margin-left: 130px;
  margin-right: 130px;
}
.mainNav ul #kalender {
  margin-left: 130px;
}
.mainNav ul #events {
  margin-right: 130px;
}
/* stroke on nav buttons*/
.mainNav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #d36d75;
  height: 3px;
}
.mainNav ul li a:hover:after {
  width: 100%;
}
.mainNav ul li a:after,
.mainNav ul li a:before {
  transition: all 0.5s;
}
/* 
  /* different colors on hover */
#purple:after {
  background: #aa81ac;
}
#blue:after {
  background: #6696ac;
}
#green:after {
  background: #a6bb75;
}

/* Top nav with userprofile and messages */
.topNav {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: row;
}
.topNav a {
  margin: 5px 10px;
}
.topNav a i {
  color: white;
  font-size: 40px;
  transition: 0.2s all;
}
.topNav a i:hover {
  color: #6696ac;
}
.topNav .newMessage {
  position: absolute;
  top: 0px;
  left: 30px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #d36d75;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topNav .newMessage h2 {
  font-size: 16px;
}
/* Main content on the page */
.maincontent {
  padding-top: 60px;
  width: 85%;
  margin: 0 auto;
  height: 100%;
}
/* Path links */
.pathlinks {
  margin: 25px 0px;
  color: white;
  font-size: 14px;
}
.pathlinks a {
  padding: 0px 10px;
  text-decoration: none;
  color: white;
  font-size: 14px;
}
.pathlinks a:first-child {
  padding-left: 0;
  padding-right: 10px;
}
/* Medarbejder liste */
.medarbejderList {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.medarbejder {
  position: relative;
  z-index: 1;
  width: 380px;
  height: 380px;
  background-image: url("../../billeder/medarbejder/medarbejder01x2.png");
}
.medarbejderHover {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 0px;
  left: 0;
  background-color: #6696acb7;
  width: 380px;
  height: 380px;
  transition: all 0.3s;
}
#medarbejderbghover01 {
  background-color: #aca266b7;
}
#medarbejderbghover03 {
  background-color: #31459cb7;
}
.medarbejderContent {
  opacity: 1;
  position: relative;
  top: 150px;
  left: 40px;
  transition: transform 0.3s;
}
/* Medarbejder transition on hover */
#medarbejder01:hover #medarbejderbghover01 {
  visibility: visible;
  opacity: 1;
}
#medarbejder01:hover #medcontent01 {
  transform: translateY(100px);
}
#medarbejder02:hover #medarbejderbghover02 {
  visibility: visible;
  opacity: 1;
}
#medarbejder02:hover #medcontent02 {
  transform: translateY(100px);
}
#medarbejder03:hover #medarbejderbghover03 {
  visibility: visible;
  opacity: 1;
}
#medarbejder03:hover #medcontent03 {
  transform: translateY(100px);
}
/* Medarbejder content styling */
.medarbejderContent .name {
  font-size: 22px;
  color: white;
  font-weight: bold;
  margin-bottom: 5px;
}
.medarbejderContent .status {
  font-size: 14px;
  color: white;
  margin-bottom: 15px;
}
.medarbejderContent a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
/* Medarbejder section styling - Styling for every individual employee */
.medarbejderSection {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.medarbejderInfo {
  min-width: 380px;
}
.medarbejderInfo i {
  margin-right: 15px;
  font-size: 22px;
  color: white;
}
.medarbejderInfo span {
  font-size: 16px;
  color: white;
}
.medarbejderInfo a {
  text-decoration: none;
  font-size: 16px;
  color: white;
}
.medarbejderInfo h2 {
  color: white;
  font-size: 22px;
  padding: 10px 0;
}
.myData {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  top: -100px;
  opacity: 0;
  transition: all 0.5s;
}
#employeeRoles {
  position: relative;
  top: -100px;
  opacity: 0;
  transition: all 0.5s;
}
.myData div {
  padding: 14px 0;
}
/* Medarbejder main content. Her er info omkring de enkelte medarbejdere. */
.medarbejderMainContent {
  opacity: 0;
  width: 40%;
  display: flex;
  flex-direction: column;
  position: relative;
  left: -100px;
  flex-wrap: wrap;
  padding: 0 50px;
  box-sizing: border-box;
  transition: all 0.7s;
}
.medarbejderMainContent h1,
h2,
h3,
p {
  color: white;
}
.medarbejderMainContent h1 {
  font-size: 30px;
  font-weight: bold;
}
.medarbejderMainContent h2 {
  font-size: 26px;
  padding: 10px 0;
}
.medarbejderMainContent p {
  font-size: 22px;
}
.employeeGoals {
  margin-top: 82px;
}
.employeeGoals h3 {
  margin-top: 20px;
  font-size: 22px;
  font-weight: bold;
}
.employeeGoals p {
  font-size: 20px;
}
/* Medarbejder historik - Lille version */
.medarbejderHistory {
  width: 25%;
  display: flex;
  flex-direction: column;
  position: relative;
  left: -100px;
  opacity: 0;
  transition: all 1s;
}
.musHistoryItem {
  position: relative;
  width: 100%;
  height: 60px;
  background-color: white;
  margin: 10px 0;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.musHistoryItem:first-child {
  margin-top: 0;
}
.musHistoryItem h2 {
  color: #484848;
  font-size: 20px;
  font-weight: bold;
}
.musHistoryItem h3 {
  font-size: 14px;
  color: #a6bb75;
}
.musHistoryItem p {
  font-size: 16px;
  color: #484848;
}
.conversationName {
  width: 60%;
  padding: 0px 10px;
  box-sizing: border-box;
}
.conversationInfo {
  width: 40%;
  text-align: center;
}
.linkConversation {
  position: absolute;
  right: 0;
}
.linkConversation a {
  text-decoration: none;
  color: #484848;
  margin-right: 10px;
}
.linkConversation i {
  font-size: 27px;
}
/* Medarbejder historik hvor han kan se hele historikken */
.all {
  width: 65%;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 150px;
  opacity: 100;
  transition: all 1s;
}
/* Standard knap styling */
.standardBtn {
  margin-top: 10px;
  align-self: center;
  text-align: center;
  width: 170px;
  height: 40px;
  background-color: white;
  color: #515f6d;
  border: 1px solid #707070;
  border-radius: 5px;
  outline: 0;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  line-height: 40px;
  transition: all 0.5s;
}
.standardBtn:hover {
  background-color: #515f6d;
  color: white;
}
/* Evaluering Styling */
.evalueringWrapper {
  width: 100%;
  height: 800px;
}
.evalueringList {
  width: 70%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
/* Evaluering Items */
.evalueringItem {
  width: 100%;
  background-color: white;
  height: 100px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
}
.evalueringItemName {
  padding: 0px 10px;
  width: 40%;
  min-width: 300px;
  align-self: center;
}
.evalueringItemName h3 {
  color: #484848;
  font-size: 24px;
}
.evalueringItemName h2 {
  color: #515f6d;
  font-size: 35px;
  font-weight: bold;
}
.evalueringItemDate {
  width: 50%;
  align-self: center;
}
.evalueringItemDate div {
  display: flex;
  flex-direction: row;
  padding: 5px 5px;
  align-items: center;
}
.evalueringItemDate h3 {
  color: #515f6d;
  font-size: 18px;
  padding-right: 5px;
}
/* Input - checkbox styling on evaluering */
.evalueringItemDate input[type="checkbox"] {
  height: 25px;
  width: 25px;
  cursor: pointer;
}
/* Social events styling på en underside */
.eventSection {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
/* SocialEvents */
.socialeventWrapper {
  width: 100%;
  height: auto;
  background-color: white;
  border-radius: 5px;
}
.socialEvent {
  margin: 0 auto;
  height: auto;
  text-align: center;
  opacity: 1;
}
.socialEvent hr {
  width: 90%;
  margin: 0 auto;
}
.socialEvent h1 {
  font-size: 55px;
  font-weight: bold;
  color: #515f6d;
}
.socialEvent h2 {
  font-size: 35px;
  font-weight: bold;
  color: #515f6d;
  margin-bottom: 15px;
}
/* SocialEvent specific items */
.socialeventItem {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  height: 126px;
  border-bottom: 1px solid gray;
}
.socialDate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 100%;
}
.socialDate h3 {
  font-size: 20px;
  color: #515f6d;
}
.socialDate h2 {
  font-size: 45px;
  color: #515f6d;
}
.socialInfo {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  width: 60%;
  height: 100%;
}
.socialButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 100%;
}
/* BOOKINGS FOR LEDEREN */
.switchBtns {
  text-align: center;
  padding-bottom: 20px;
}
.switchBtns hr {
  border: 1px solid white;
}
.switchBtns button {
  background-color: #cbcbcb;
  color: #484848;
  font-size: 22px;
  font-weight: bold;
  width: 300px;
  height: 48px;
  border: 0;
  cursor: pointer;
}
.switchBtns button:active,
button:focus {
  outline: 0;
  border: 0;
}
.btnLeft {
  border-radius: 5px 0 0 0;
}
.btnRight {
  border-radius: 0 5px 0 0;
}
.switchBtns .current {
  background-color: white;
}
/* Afventede bookings */
.afventedeBookings {
  display: flex;
  flex-direction: row;
}
.afventedeKalender {
  width: 40%;
}
.afventedeList {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 38px;
}
.afventedeItem {
  position: relative;
  width: 100%;
  height: 60px;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.afventedeItemInfo {
  position: absolute;
  left: 20px;
}
.afventedeItemInfo2 {
  position: absolute;
  right: 50px;
}
.afventedeItem h3 {
  color: #484848;
  font-size: 18px;
  font-weight: bold;
}
.afventedeItem h2 {
  color: #484848;
  font-size: 20px;
  font-weight: bold;
}
.afventedeLink {
  position: absolute;
  right: 0;
  width: 50px;
  text-align: center;
}
.afventedeLink a {
  text-decoration: none;
  color: #484848;
}
.afventedeLink i {
  font-size: 33px;
}
.bekræftedeBooking {
  display: none;
}
/* styling af en samtale */
.samtaleSection {
  display: none;
  flex-direction: column;
  margin: 0 auto;
  width: 50%;
  position: relative;
  padding-bottom: 100px;
}
.samtaleSection .samtaleTopInfo {
  width: 100%;
  padding-bottom: 50px;
}
.samtaleTopInfo h2 {
  position: absolute;
  left: 0;
  top: 0;
  color: white;
  font-size: 22px;
  font-weight: bold;
}
.samtaleTopInfo h3 {
  position: absolute;
  right: 0;
  top: 0;
  color: white;
  font-size: 22px;
  font-weight: 300;
}
.samtaleSection .restKlip {
  color: #aa81ac;
}
.samtaleSection textarea {
  width: 100%;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
  padding-top: 15px;
  padding-left: 15px;
  margin-bottom: 50px;
  box-sizing: border-box;
  resize: vertical;
}
.samtaleSection .goalCheck {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.samtaleSection .goalCheck input[type="text"] {
  width: 90%;
  height: 50px;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0;
  padding-left: 15px;
}
.samtaleSection .goalCheck input[type="checkbox"] {
  width: 10%;
  height: 40px;
}
